{{> header}}
{{>navbar}}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản lý tài khoản </h1>

    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="/img/User_icon_2.svg.png" alt="Profile" class="rounded-circle">
                        <span></span>
                        <h2 id="userlogin"></h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên tài khoản </th>
                            <th>Email</th>
                            <th>Quyền sử dụng </th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td>{{this.username}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.role}}</td>
                            <td><a> <i class="bi bi-trash3" data-bs-toggle="modal" data-bs-target="#delete-work-modal"
                                        data-id="{{this._id}}" style="color: red;"></i></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </section>
</main><!-- End #main -->