{{> header}}
{{>navbar}}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Tổng quan </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="home.hbs">Home</a></li>
                <li class="breadcrumb-item active">Tổng quan</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- Reports -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Nhiệt độ <span>/Hôm nay</span></h5>

                                <!-- Line Chart -->
                                <canvas id="myChart" style="width:100%;"></canvas>

                                <!-- End Line Chart -->
                            </div>
                        </div>
                    </div><!-- End Reports -->

                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Độ ẩm <span>| Hôm nay</span></h5>
                            </div>

                        </div>
                    </div><!-- End Recent Sales -->

                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
                            <div class="card-body pb-0">
                                <h5 class="card-title">Các loại cây trồng </h5>
                                <canvas id="loaicay" style="width:100%;"></canvas>

                            </div>
                        </div>
                    </div><!-- End Top Selling -->
                </div>
            </div><!-- End Left side columns -->
            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Cơ cấu cây trồng</h5>
                        <p>1500 cây/ha</p>
                    </div>
                </div><!-- End Recent Activity -->

                <!-- Budget Report -->
                <div class="card">

                    <div class="card-body pb-0">
                        <h5 class="card-title">Cánh đồng </h5>

                    </div>
                </div><!-- End Budget Report -->

                <!-- Website Traffic -->
                <div class="card">

                    <div class="card-body pb-0">
                        <h5 class="card-title">Công việc </h5>
                    </div>
                </div><!-- End Website Traffic -->

                <!-- News & Updates Traffic -->


            </div><!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->
{{> footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>
    //BIỂU ĐỒ LOẠI CÂY
    var xValues1 = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues1 = [55, 49, 44, 24, 15];
    var barColors = ["red", "green", "blue", "orange", "brown"];

    new Chart("loaicay", {
        type: "bar",
        data: {
            labels: xValues1,
            datasets: [{
                backgroundColor: barColors,
                data: yValues1
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "World Wine Production 2018"
            }
        }
    });
    //BIỂU ĐỒ NHIỆT ĐỘ
    const xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                borderColor: "red",
                fill: false
            }]
        },
        options: {
            legend: { display: false }
        }
    });
</script>